body
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    line-height: 24px;

    color: #000;
}

img
{
    max-width: 100%;
    height: auto;
}

h2
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 30px;
    line-height: 30px;

    text-transform: uppercase;

    color: #32425c;
}

h4
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;

    text-transform: uppercase;

    color: #000;
}

.container
{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}

.new::before
{
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;

    width: 60px;
    height: 59px;

    content: '';

    background: url('../img/new.png') 0 0 no-repeat;
}

/*HEADER*/
.header-top
{
    background: #293449;
}

.header-logo,
.header-gadget
{
    float: right;
}

.header-logo
{
    position: relative;
}

.header-top img
{
    position: absolute;

    padding: 13px 55px 11px;

    border-bottom: 5px solid #b52933;
    background: #ee3643;
}

.header-top img:hover
{
    border-bottom: 5px solid #9a212a;
    background: #ca2c37;
}

.header-top img:active
{
    border-bottom: 5px solid #8e1e26;
    background: #ba2732;
}

.header-gadget
{
    font-size: 0;

    width: 720px;
    margin-right: 20px;
}

.header-gadget a
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 17px;
    line-height: 18px;

    text-decoration: none;

    color: #fff;
}

.search-input
{
    position: relative;

    float: left;
}

.search-input form
{
    position: relative;
}

.search-input form::before
{
    position: absolute;
    top: 11px;
    left: 17px;

    width: 18px;
    height: 18px;

    content: '';

    opacity: .3;
    border: 0;
    outline: none;
    background: url('../img/main-sprite.png') 0 0 no-repeat;
}

.search-input input[type='search']
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 17px;
    line-height: 18px;

    height: 42px;
    padding-left: 48px;

    text-decoration: none;

    opacity: 1;
    border: none;
    background: #293449;
}

.search-input input::-webkit-input-placeholder
{
    color: #fff;
}

.search-input input::-moz-placeholder
{
    color: #fff;
}

.search-input input:-moz-placeholder
{
    color: #fff;
}

.search-input input:-ms-input-placeholder
{
    color: #fff;
}

.search-input input[type='search']:hover
{
    background: #212a3a;
}

.search-input form:hover::before
{
    opacity: 1;
}

.search-input input[type='search']:focus
{
    color: #000;
    outline: none;
    background: #fff;
}

.search-input label
{
    font-size: 0;

    position: relative;

    display: inline-block;

    vertical-align: baseline;
}

.search-input input:focus + label:before
{
    position: absolute;
    top: -13px;
    right: 158px;

    width: 25px;
    height: 31px;

    content: '';

    opacity: 1;
    background: url('../img/main-sprite.png') 0 -26px no-repeat;
}

.marks
{
    position: relative;

    float: right;

    padding: 11px 28px 11px 54px;
}

.marks::before
{
    position: absolute;
    top: 10px;
    left: 25px;

    width: 18px;
    height: 18px;

    content: '';

    opacity: .3;
    background: url('../img/main-sprite.png') 2px -108px no-repeat;
}

.marks:hover
{
    background: #212a3a ;
}

.marks:hover::before
{
    position: absolute;
    top: 10px;
    left: 25px;

    width: 18px;
    height: 18px;

    content: '';

    opacity: 1;
    background: url('../img/main-sprite.png') 2px -109px no-repeat;
}

.basket
{
    position: relative;

    float: right;

    box-sizing: border-box;
    padding: 11px 26px 13px 50px;
}

.basket-active
{
    background-color: #ee3643;
}

.basket::before
{
    position: absolute;
    top: 11px;
    left: 16px;

    width: 18px;
    height: 18px;

    content: '';

    opacity: .3;
    background: url('../img/main-sprite.png') 0 -73px no-repeat;
}

.basket:hover
{
    background: #212a3a;
}

.basket:hover::before
{
    position: absolute;
    top: 11px;
    left: 16px;

    width: 18px;
    height: 18px;

    content: '';

    opacity: 1;
    background: url('../img/main-sprite.png') 0 -73px no-repeat;
}

.basket:active,
.marks:active
{
    opacity: .5;
}

.order-btn
{
    float: right;

    padding: 12px 21px;

    background: #63a63e;
}

.order-btn:hover
{
    background: #5fbb2d;
}

.order-btn:active
{
    opacity: .5;
}

.header-bottom
{
    padding-top: 47px;
    padding-bottom: 60px;

    background: #f1f5f7;
}

.header-description,
.header-contacts
{
    float: left;
}

.header-description
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;

    width: 200px;
    margin-top: 2px;
    margin-left: 52px;

    color: #ee3643;
}

.header-description p
{
    margin: 0;
}

.header-contacts
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 24px;

    width: 271px;
    margin-left: 68px;

    color: #32425c;
}

.tel-number
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 22px;
    line-height: 17px;

    display: inline-block;

    min-width: 145px;
    margin-bottom: 4px;
    padding: 11px 52px 11px 71px;

    vertical-align: top;
    letter-spacing: -.5px;

    color: #ee3643;
    border: 3px solid #fff;
    background: url('../img/main-sprite.png') 12px -135px no-repeat;
}

.address
{
    margin-left: 10px;
}

.header-auth-new,
.header-auth-old
{
    display: none;
}

.active-auth
{
    display: inline-block;

    margin-bottom: 64px;

    vertical-align: top;
}

.login,
.check-in
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 21px;
    line-height: 17px;

    display: inline-block;

    padding: 15px 25px 15px;

    vertical-align: top;
    text-decoration: none;

    color: #000;
    border-radius: 3px;
    background-color: #fff;
}

.login
{
    position: relative;

    margin-left: 68px;
    padding-left: 48px;
}

.login::before
{
    position: absolute;
    top: 14px;
    left: 14px;

    width: 20px;
    height: 18px;

    content: '';

    opacity: .3;
    background: url('../img/main-sprite.png') 0 -184px no-repeat;
}

.check-in
{
    margin-left: 10px;
    padding-left: 21px;
}

.login:hover,
.check-in:hover
{
    color: #ee3643;
}

.login:hover::before
{
    opacity: 1;
}

.login:active,
.login:active::before,
.check-in:active
{
    color: rgba(0,0,0,.3);
}

.header-auth-old
{
    float: right;

    max-width: 300px;
    margin-top: 12px;
    margin-right: 20px;
    margin-bottom: 43px;
}

.header-auth-old .name
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 21px;
    line-height: 18px;

    position: relative;

    padding: 10px 65px 11px 48px;

    text-decoration: none;

    color: #000;
    border-radius: 3px;
    background-color: #fff;
}

.header-auth-old .name:active
{
    color: rgba(0,0,0,.3);
}

.header-auth-old .name::before
{
    position: absolute;
    top: 13px;
    left: 14px;

    width: 20px;
    height: 23px;

    content: '';

    opacity: .3;
    background: url('../img/main-sprite.png') 0 -259px no-repeat;
}

.header-auth-old .link
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 18px;

    position: relative;

    display: inline-block;

    margin-top: 10px;
    margin-right: 11px;
    margin-left: 18px;

    vertical-align: top;
    text-decoration: underline;

    color: #32425c;
}

.header-auth-old .link:hover
{
    color: #ee3643;
}

.header-auth-old .link:active
{
    color: #c5c5c5;
}

.header-auth-old .link::after,
.header-auth-old .link:hover::after
{
    position: absolute;
    top: 7px;
    right: -20px;

    width: 4px;
    height: 5px;

    content: '';

    border-radius: 50%;
    background-color: #32425c;
}

.header-auth-old .link:last-child::after
{
    display: none;
}

.header-auth-old .check-out
{
    font-size: 0;

    position: relative;
}

.header-auth-old .check-out::before
{
    position: absolute;
    top: -15px;
    left: -31px;

    width: 20px;
    height: 18px;

    content: '';

    opacity: .3;
    background: url('../img/main-sprite.png') 0 -222px no-repeat;
}

.header-auth-old .name:hover::before,
.header-auth-old .check-out:hover::before
{
    opacity: 1;
}

.header-auth-old .name:active::before,
.header-auth-old .check-out:active::before
{
    opacity: .3;
}

.main-menu
{
    font-size: 0;

    clear: both;

    margin-right: 20px;
}

.main-menu ul
{
    display: table;

    width: 100%;
    margin: 0;
    padding: 0;
}

.main-menu li
{
    display: table-cell;

    text-align: center;
    vertical-align: middle;

    background: #32425c;
}

.main-menu a
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 17px;
    line-height: 17px;

    display: block;

    padding: 19px 32px;

    text-decoration: none;

    color: #fff;
    border-bottom: 5px solid #293449;
}

.main-menu a:hover
{
    background: #293449;
}

.main-menu a:active
{
    opacity: .5;
    border-bottom: 5px solid #1d2739;
    background: #1d2739;
}

/*MAIN INDEX*/
/*promo-block index*/
.promo
{
    font-size: 0;

    padding-top: 59px;
    padding-bottom: 41px;
}

.promo .item
{
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 300px;
    min-height: 123px;
    padding: 21px 120px 20px 24px;

    vertical-align: top;
}

.promo span
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    display: block;

    margin-bottom: 12px;

    color: #fff;
}

.item a
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 18px;

    position: relative;

    display: inline-block;

    padding: 10px 25px 9px 25px;

    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    opacity: 1;
    color: #fff;
    background: rgba(0,0,0,.1);
}

.item a::after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 136px;
    height: 38px;

    content: '';

    border-radius: 3px;
}

.item a:hover::after
{
    opacity: .2;
}

.item a:active::after
{
    opacity: .3;
}

.item-1
{
    margin-right: 20px;

    background: #f6b22d;
}

.item-1::before
{
    top: 0;
    right: 0;

    width: 60px;
    height: 59px;

    content: '';

    background: url('../img/new.png') 0 0 no-repeat;
}

.item-1::after
{
    position: absolute;
    top: 31px;
    right: 43px;

    width: 44px;
    height: 65px;

    content: '';

    background: url('../img/materials.png') 0 0 no-repeat;
}

.item-2
{
    margin-right: 20px;

    background: #4aafde;
}

.item-2::after
{
    position: absolute;
    top: 33px;
    right: 28px;

    width: 75px;
    height: 61px;

    content: '';

    background: url('../img/instrument.png') 0 0 no-repeat;
}

.item-3
{
    margin-bottom: 20px;

    background: #cc79d1;
}

.item-3::after
{
    position: absolute;
    top: 31px;
    right: 31px;

    width: 78px;
    height: 62px;

    content: '';

    background: url('../img/tractor.png') 0 0 no-repeat;
}

.item-4
{
    margin-bottom: 20px;

    background: #85d179;
}

.item-4::after
{
    position: absolute;
    top: 26px;
    right: 45px;

    width: 59px;
    height: 72px;

    content: '';

    background: url('../img/discounts.png') 0 0 no-repeat;
}

.item-5
{
    background: #f6b22d;
}

.item-5::after
{
    position: absolute;
    top: 32px;
    right: 31px;

    width: 78px;
    height: 63px;

    content: '';

    background: url('../img/car.png') 0 0 no-repeat;
}

/*SLIDER*/
.promo-slider
{
    position: relative;

    float: left;

    width: 618px;
    margin-right: 22px;
}

.promo-slide
{
    position: relative;
}

.promo-slide h2,
.promo-slide p,
.promo-slide a
{
    position: absolute;
    top: 10px;
    left: 10px;
}

.promo-slide h2
{
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 30px;

    top: -22px;
    left: 23px;

    letter-spacing: -.1px;
    text-transform: uppercase;

    color: #fff;
    background: transparent;
}

.promo-slide p
{
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;

    top: 42px;
    left: 24px;

    color: #fff;
}

.promo-slide a
{
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;

    position: absolute;
    top: 206px;
    left: 25px;

    width: 114px;
    padding: 11px 30px 9px 50px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background: #ee3643;
}

.promo-slide a:hover,
.buy-btns a:hover
{
    background: #ca2c37;
}

.promo-slide a:active,
.buy-btns a:active
{
    background: #ba2732;
}

.promo-slide-2
{
    display: none;
}

.slider-btn label::before
{
    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 10px 0 0;

    content: '';
    cursor: pointer;
    vertical-align: top;

    border-radius: 50%;
    background-color: #fff;
}


label[for='promo-prev-id']::after
{
    position: absolute;
    top: -98px;
    left: -264px;

    display: inline-block;

    width: 24px;
    height: 24px;

    content: '';
    cursor: pointer;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    vertical-align: top;

    border: 4px solid #fff;
    border-top: none;
    border-right: none;
}

label[for='promo-next-id']::after
{
    position: absolute;
    top: -98px;
    left: 272px;

    display: inline-block;

    width: 24px;
    height: 24px;

    content: '';
    cursor: pointer;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    vertical-align: top;

    border: 4px solid #fff;
    border-bottom: none;
    border-left: none;
}

label.checked::before
{
    display: inline-block;

    width: 6px;
    height: 6px;
    margin: 0 11px 0 0;

    content: '';
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #ee3643;
}

.slider-btn button
{
    display: none;
}

/*popular-block index*/
.popular
{
    padding-bottom: 17px;
}

.popular-header
{
    position: relative;

    margin-right: 20px;
    margin-bottom: 20px;

    background: #f7f3ec;
}

.popular h2,
.brands h2
{
    padding: 30px 275px 29px 27px;

    letter-spacing: -.5px;

    background: #f7f2ec;
}

.brands h2
{
    padding-left: 24px;

    letter-spacing: -.8px;
}

.popular-header a
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 18px;

    position: absolute;
    top: 25px;
    right: 23px;

    padding: 10px 55px;
    padding: 10px 69px 10px 70px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background: #ee3643;
}

.popular a
{
    padding: 10px 55px 10px 55px;
}

.popular-header a:hover
{
    background: #ca2c37;
}

.popular-header a:active
{
    background: #ba2732;
}

.pop-product,
.brands-logo
{
    position: relative;

    display: inline-block;

    width: 218px;
    margin-right: 17px;
    margin-bottom: 4px;
    padding-bottom: 20px;

    cursor: pointer;
    vertical-align: top;

    border: 1px solid #e5e5e5;
}

.pop-product:last-child
{
    margin-right: 0;
}

.pop-product:hover .hover-product
{
    position: absolute;
    top: 44px;
    left: 50%;

    display: inline-block;

    padding: 10px 30px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    vertical-align: top;

    background: #fff;
}

.product-img
{
    position: relative;

    min-height: 179px;
}

.product-img > img
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.prod-name
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    display: block;

    text-align: center;

    color: #000;
}

.old-price
{
    display: block;

    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;

    color: #999;
}

.product a,
.pop-product a
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;

    display: inline-block;

    padding: 10px 20px;

    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background-color: #ee3643;
}

.brands
{
    margin-bottom: 65px;
}

.brands-logo
{
    position: relative;

    min-height: 123px;
    margin-bottom: 20px;

    vertical-align: bottom;
}

.brands.brands-logo
{
    padding: 0;
}

.brands-logo::after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 144px;

    content: '';
}

.brands-logo img
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.pop-product:hover::after,
.product:hover::after,
.brands-logo:hover::after,
.pop-product:active::after,
.product:active::after
{
    opacity: .5;
    box-shadow: 0 10px 25px #293449;
}

.brands-logo:active
{
    opacity: .3;
}


.brands-logo:active::after
{
    opacity: .5;
    box-shadow: 0 4px 10px #293449;
}

/*service-block index*/
.service
{
    padding-top: 17px;

    background: #f2f6f8;
}

.service h2
{
    padding-left: 0;
}

.service p
{
    width: 400px;
    margin-top: -6px;
    margin-bottom: 55px;
}

.slider
{
    position: relative;

    float: left;

    min-width: 240px;
}

.slider::after
{
    position: absolute;
    top: -23px;
    right: 0;

    width: 10px;
    height: 272px;

    content: '';

    background: url('../img/shadow.png');
}

.slider ul
{
    padding-left: 0;
}

.slider li
{
    list-style: none;
}

.slider input[type='button']
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;

    width: 100%;
    margin: 0;
    padding: 15px 23px;

    cursor: pointer;
    text-align: left;

    color: #e4e6e9;
    border: none;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    outline: none;
    background-color: #32425c;
}

.slider input[type='button']:hover
{
    padding: 16px 23px;

    border-top: none;
    border-bottom: none;
    background-color: #293449;
}

#active-input,
#active-input:hover,
.slider input[type='button']:active
{
    padding: 16px 23px;

    color: #32425c;
    border: none;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

.slides
{
    float: right;

    min-height: 298px;
}

.slide
{
    position: relative;

    width: 640px;
}

.slide h3
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 36px;
    line-height: 24px;

    margin: 0;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 38px;

    text-transform: uppercase;

    color: #32425c;
    background-color: transparent;
}

.slide p
{
    width: 274px;
}

.slide-2,
.slide-3
{
    display: none;
}

.slide-1::after
{
    position: absolute;
    top: 0;
    right: 0;

    width: 468px;
    height: 261px;

    content: '';

    background: url('../img/delivery.png') -21px 37px no-repeat;
}

.slide-2::after
{
    position: absolute;
    top: 0;
    right: 0;

    width: 389px;
    height: 283px;

    content: '';

    background: url('../img/guarantee.png') -22px 36px no-repeat;
}

.slide-3::after
{
    position: absolute;
    top: 0;
    right: 0;

    width: 465px;
    height: 285px;

    content: '';

    background: url('../img/credit.png') -22px 36px no-repeat;
}

.slider-btn
{
    position: absolute;
    z-index: 1;
    bottom: 36px;
    left: 294px;
}

.slider-btn .btn
{
    margin: 3px;
}

/*info-block index*/
.info
{
    padding-top: 80px;
    padding-bottom: 86px;
}

.info .about-us
{
    float: left;

    width: 550px;
}

.info .contact
{
    float: right;

    width: 300px;
    margin-right: 20px;
}

.contact a
{
    cursor: pointer;
}

.about-us h2,
.contact h2
{
    margin: 0;
    padding: 0;

    background: transparent;
}

.about-us p,
.contact p
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 24px;

    margin-top: 25px;

    color: #000;
}

.about-us p
{
    min-width: 500px;

    letter-spacing: -.1px;
}

.contact p
{
    max-width: 200px;

    letter-spacing: -.3px;
}

.about-us ul
{
    margin-top: 20px;
    margin-bottom: 36px;
    padding-left: 36px;

    list-style: none;
}

.about-us li
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 20px;

    position: relative;

    margin-bottom: 20px;

    color: #000;
}

.about-us li::before
{
    position: absolute;
    top: 8px;
    left: -37px;

    width: 25px;
    height: 2px;

    content: '';

    background: #fb565a;
}

.about-us a,
.contact a
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 18px;

    display: inline-block;

    padding: 10px 60px;

    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background: #ee3643;
}

.about-us a
{
    padding: 11px 40px 9px 41px;
}

.contact a
{
    padding: 11px 59px 9px 64px;
}

.contact .map
{
    width: 300px;
    height: 158px;
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 0;

    cursor: pointer;

    background: #e9e5dc url('../img/map.jpg') no-repeat;
}

.search-us
{
    min-width: 180px;
}

/*MAIN CATALOG*/
h2.catalog
{
    padding: 30px 10px 29px 28px;
}

.breadcrumbs
{
    margin-top: 18px;
    margin-bottom: 16px;
}

.breadcrumbs ul
{
    padding-left: 0;
}

.breadcrumbs li
{
    position: relative;

    display: inline-block;

    padding-right: 35px;

    vertical-align: middle;
}

.breadcrumbs li::after
{
    position: absolute;
    top: 8px;
    right: 14px;

    width: 6px;
    height: 6px;

    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border-top: 1px solid #cdd1d8;
    border-right: 1px solid #cdd1d8;
    background: transparent;
}

.breadcrumbs li:last-child::after
{
    display: none;
}

.breadcrumbs a
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    line-height: 18px;

    display: inline-block;

    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;

    color: #000;
}

.breadcrumbs .index-crumb
{
    font-size: 0;
    line-height: 24px;

    display: inline-block;

    width: 20px;
    height: 20px;

    vertical-align: middle;

    background: url('../img/catalog-sprite.png') -1px 1px;
}

main h2
{
    margin: 0;
    margin-right: 20px;
    margin-bottom: 6px;
    padding-top: 48px;
    padding-bottom: 26px;

    letter-spacing: -1px;

    background: #f2f6f8;
}

main h3
{
    font-size: 14px;

    margin-bottom: 0;
    padding: 9px 20px 11px 18px;

    background: #f7f3ec;
}

.filters
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    line-height: 18px;

    float: left;

    width: 220px;

    text-decoration: none;
    text-transform: uppercase;

    color: #000;
}

.filters h4
{
    margin-top: 10px;
    margin-bottom: 14px;
}

.range-filter
{
    width: 220px;
    margin-bottom: 16px;
    padding-bottom: 26px;

    border-bottom: 1px solid #e5e5e5;
}

.range-filter h2
{
    margin-bottom: 13px;
}

.range-controls
{
    position: relative;

    overflow: hidden;

    height: 80px;
    margin-bottom: 9px;
    padding: 0 30px;

    border-radius: 5px;
    background: #f7f3ec;
}

.scale
{
    width: 130px;
    height: 2px;
    margin-top: 39px;

    background: #d7dcde;
}

.bar
{
    height: 2px;

    background: #00ca74;
}

.toggle
{
    position: absolute;
    top: 30px;
    left: 30px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid white;
    border-radius: 50%;
    background: #ababab;
}

.max-toggle
{
    left: 161px;
}

.min-toggle
{
    left: 20px;
}

.price-controls span
{
    display: none;
}

.price-controls .control
{
    display: inline;
}

.price-controls input[type='text']
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 17px;
    line-height: 18px;
}

.min-price,
.max-price
{
    width: 94px;
    height: 36px;

    text-align: center;
    vertical-align: middle;

    border: none;
    border-radius: 3px;
    background: #f7f3ec;
}

.min-price
{
    margin-right: 12px;
}

.max-price
{
    margin-left: 4px;
}

.filters label
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.group-1
{
    margin-bottom: 17px;
    padding-bottom: 2px;

    border-bottom: 1px solid #e5e5e5;
}

.group-2
{
    margin-bottom: 58px;
}

.form-group
{
    padding-bottom: 20px;
    padding-left: 33px;
}

.filters input[type='checkbox'],
.filters input[type='radio']
{
    display: none;
}

.group-1 label,
.group-2 label
{
    position: relative;

    cursor: pointer;
}

.group-1 label::before
{
    position: absolute;
    top: -2px;
    left: -33px;

    width: 27px;
    height: 24px;

    content: '';

    opacity: .7;
    background: url('../img/catalog-sprite.png') 0 -31px no-repeat;
}

.group-1 input[type='checkbox']:checked ~ label::before
{
    position: absolute;
    top: -2px;
    left: -33px;

    width: 27px;
    height: 24px;

    content: '';

    opacity: .7;
    background: url('../img/catalog-sprite.png') 0 -74px no-repeat;
}

.group-2 span:before
{
    position: absolute;
    top: -2px;
    left: -33px;

    width: 27px;
    height: 24px;

    content: '';

    opacity: .7;
    background: url('../img/catalog-sprite.png') -1px -163px no-repeat;
}

.group-2 input[type='radio']:checked ~ span::before
{
    position: absolute;
    top: -2px;
    left: -33px;

    width: 27px;
    height: 24px;

    content: '';

    opacity: .7;
    background: url('../img/catalog-sprite.png') -1px -118px no-repeat;
}

label:hover::before,
input[type='checkbox']:checked ~ label:hover::before,
span:hover::before,
input[type='radio']:checked ~ span:hover::before
{
    opacity: 1;
}

input[type='checkbox']:disabled + label,
input[type='radio']:disabled + span
{
    opacity: .3;
}

.form-btn,
.btn-catalog
{
    padding: 13px 35px 9px;

    cursor: pointer;
    text-transform: uppercase;

    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #fff;
}

.form-btn:hover
{
    border-color: #bdc6ca;
}

.form-btn:active
{
    border-color: #ee3643;
    outline: none;
}

.product-gallery
{
    float: right;

    width: 699px;
    margin-right: 20px;
}

.sorting p,
.sorting a,
{
    display: inline-block;

    vertical-align: baseline;
}

/*настройки поиска*/
.sorting
{
    position: relative;

    margin-top: 14px;
    margin-bottom: 21px;

    text-transform: uppercase;

    background: #f7f3ec;
}

.sorting p
{
    display: inline-block;

    margin: 7px 75px 7px 19px;

    vertical-align: top;
}

.sorting a
{
    line-height: 14px;

    display: inline-block;

    margin-left: 64px;
    padding: 0;

    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;

    color: #c6c2bd;
    border-bottom: 1px dotted #ee3643;
}

.sort
{
    display: inline-block;

    width: 418px;
    margin-top: 7px;
}

.sorting a:hover
{
    color: #000;
    border-bottom: 2px solid #ee3643;
}

.sorting .arrow:hover
{
    border-bottom: none;
}

.sorting a:active,
.sorting .active,
.sorting .active:hover
{
    color: #ee3643;
    border-bottom: none;
}

.sorting .pointers
{
    float: right;

    width: 43px;
    margin-top: 8px;
    margin-right: 16px;

    vertical-align: top;
}

.sorting .arrow
{
    font-size: 0;

    margin: 0;

    border-bottom: none;
}

.sorting .up
{
    margin-right: 19px;
}

.sorting .arrow::before
{
    display: inline-block;

    content: '';
    vertical-align: baseline;

    border: 10px solid #c6c2bd;
    border-right-width: 5px;
    border-right-color: transparent;
    border-left-width: 5px;
    border-left-color: transparent;
}

.sorting .up::before
{
    border-top-width: 0;
}

.sorting .bottom::before
{
    border-bottom-width: 0;
}

.sorting .up:hover::before
{
    border-bottom-color: #010101;
}

.sorting .bottom:hover::before
{
    border-top-color: #010101;
}

.sorting .up:active::before
{
    border-bottom-color: #ee3643;
}

.sorting .bottom:active::before
{
    border-top-color: #ee3643;
}

.sorting .active::before
{
    border-bottom-color: #ee3643;
}

/*articles gallery*/
.articles
{
    margin-bottom: 38px;
}

.articles .product
{
    font-size: 0;

    position: relative;

    display: inline-block;

    width: 218px;
    margin-right: 19px;
    margin-bottom: 22px;
    margin-left: 0;
    padding-bottom: 20px;

    cursor: pointer;
    vertical-align: top;

    outline: 1px solid #e5e5e5;
}

.product:nth-child(3n)
{
    margin-right: 0;
}

.pop-product::after,
.product::after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 219px;
    height: 317px;

    content: '';
}

.gallery-img
{
    position: relative;

    min-height: 179px;
}

.gallery-img img
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.gallery-info
{
    position: relative;
}

.prod-name
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    display: block;

    width: 170px;
    margin: 0 auto;
    margin-bottom: 39px;

    text-align: center;

    color: #000;
}

.old-price
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;

    position: absolute;
    bottom: 37px;
    left: 78px;

    display: block;

    margin-bottom: 10px;

    text-align: center;
    text-decoration: line-through;

    color: #999;
}

.product-btn,
.product-price
{
    position: relative;

    text-align: center;

    background-image: url('../img/spec-btn.png');
    background-repeat: no-repeat;
    background-position: 42px 0;
}

.new-price
{
    position: relative;
}

.hover-product
{
    z-index: 100;

    display: none;
}

.hover-product .buy,
.hover-product .marks-add
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 16px;

    display: block;

    text-transform: uppercase;

    border-radius: 3px;
}

.hover-product .buy
{
    position: relative;

    margin-bottom: 8px;
    padding: 12px 43px 7px 47px;

    color: #fff;
    border-bottom: 3px solid #367315;
    background: #63a63e;
}

.hover-product .buy::before
{
    position: absolute;
    top: 10px;
    left: 18px;

    width: 18px;
    height: 18px;

    content: '';

    opacity: .3;
    background: url('../img/main-sprite.png') 0 -73px no-repeat;
}

.product .hover-product .buy:hover
{
    background: #5fbb2d;
}

.hover-product .buy:hover::before
{
    opacity: 1;
}

.hover-product .buy:active
{
    border-bottom: 3px solid #518534;
    background: #518534;
}

.hover-product .marks-add
{
    padding: 9px 0 7px 30px;

    color: #32425c;
    border: 3px solid #63a63e;
    background: #fff;
}

.hover-product .marks-add:hover
{
    border-color: #32425c;
}

.hover-product .marks-add:active
{
    opacity: .3;
}

.product:hover .hover-product
{
    position: absolute;
    top: 44px;
    left: 50%;

    display: inline-block;

    padding: 10px 25px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    vertical-align: baseline;

    background: #fff;
}

.paginator
{
    margin-bottom: 67px;
}

.btn-catalog
{
    font-size: 13px;
    line-height: 18px;

    margin-right: 6px;
    padding: 10px 15px;

    text-decoration: none;

    color: #000;
}

.btn-catalog:last-child
{
    padding: 10px 30px 10px 31px;
}

.btn-catalog:hover
{
    border-color: #bdc6ca;
}

.btn-catalog:active
{
    border-color: #ee3643;
}

.btn-catalog.active
{
    color: #fff;
    border: none;
    border-radius: 3px;
    background: #ee3643;
}

.accompaniment
{
    clear: both;

    padding-top: 15px;
    padding-bottom: 55px;

    background: #f2f6f8;
}

.accompaniment h2
{
    margin-top: 21px;
    padding-bottom: 12px;
    padding-left: 0;

    letter-spacing: -.5px;
}

.accompaniment p
{
    line-height: 24px;
}

/*FOOTERS*/
/*footer-top*/
.footer-top
{
    background: #32425c;
}

img.footer-logo
{
    float: left;
}

.footer-top ul
{
    float: right;

    width: 606px;
    margin-top: 38px;
}

.footer-top li
{
    display: inline-block;

    vertical-align: baseline;
}

.footer-top a
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 24px;

    margin-right: 19px;
    margin-left: 37px;

    text-decoration: none;

    color: #fff;
}

a.footer-logo
{
    font-size: 0;

    margin: 0;
}

/*footer-middle*/
.footer-middle
{
    padding-bottom: 45px;

    background: #32425c;
}

.contact-bottom
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 19px;
    line-height: 20px;

    float: left;

    width: 350px;
    margin-top: 22px;
    margin-left: 3px;

    letter-spacing: -.3px;

    color: #f1f5f7;
}

.contact-bottom p
{
    margin: 0;
    margin-bottom: 5px;
}

.contact-bottom .telephone
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;

    text-decoration: none;

    color: #f1f5f7;
}

.footer-middle ul
{
    float: right;

    width: 582px;
    margin-top: 20px;
    padding: 0;
}

.footer-middle li
{
    display: inline-block;

    vertical-align: baseline;
}

.footer-middle a
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 24px;

    margin-right: 19px;
    margin-left: 37px;

    text-decoration: none;

    color: #ffd180;
}

/*общие состояния футеров:*/
.footer-top a:hover,
.footer-middle a:hover
{
    text-decoration: underline;
}

.footer-top a:active,
.footer-middle a:active
{
    text-decoration: none;

    opacity: .5;
}

/*footer-bootom*/
.footer-bottom
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 18px;

    padding-top: 35px;
    padding-bottom: 25px;

    color: #fff;
    background: #293449;
}

.footer-bottom a
{
    text-decoration: none;

    color: #ffd180;
}

.footer-bottom p
{
    margin: 0;
}

.footer-copyright
{
    float: left;

    width: 230px;

    letter-spacing: .1px;
}

.footer-links
{
    float: right;

    width: 570px;
}

.footer-social,
.footer-contacts,
.footer-creators
{
    display: inline-block;

    vertical-align: top;
}

.footer-social
{
    font-size: 0;

    width: 135px;
    margin-right: 115px;
}

.social-btn
{
    font-size: 0;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;

    vertical-align: bottom;

    border-radius: 50%;
    background-color: #212a3a;
}

.social-btn:hover,
.social-btn:active
{
    background-color: #ee3643;
}

.social-btn-vk
{
    background-image: url('../img/main-sprite.png');
    background-repeat: no-repeat;
    background-position: 10px -282px;
}

.social-btn-fb
{
    background-image: url('../img/main-sprite.png');
    background-repeat: no-repeat;
    background-position: 15px -319px;
}

.social-btn-inst
{
    background-image: url('../img/main-sprite.png');
    background-repeat: no-repeat;
    background-position: 11px -356px;
}

.footer-contacts
{
    width: 140px;
    margin-right: 45px;
}

.footer-creators
{
    width: 100px;
}

.footer-contacts a:hover,
.footer-creators a:hover
{
    text-decoration: underline;
}

.footer-contacts a:active,
.footer-creators a:active
{
    text-decoration: none;

    color: #c73644;
}

/*popups*/
.map-popup,
.buy-popup,
.contact-popup
{
    position: fixed;
    top: 50%;
    left: 50%;

    display: none;

    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*MAP-POPUP*/
.map-popup
{
    z-index: 99;

    width: 939px;
    height: 445px;

    background: #e9e5dc url('../img/big-map.jpg') 0 0 no-repeat;
    box-shadow: 0 0 16px rgba(35,31,32,.5);
}

/*CONTACT-POPUP*/
.contact-popup
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 18px;

    z-index: 200;

    box-sizing: border-box;
    width: 620px;
    padding-top: 47px;

    color: #000;
    border-top: 7px solid #ee3643;
    background-color: #fff;
    box-shadow: 0 20px 40px #293449;
}

.contact-popup .popup-col
{
    max-width: 220px;
    margin-bottom: 20px;
}

.contact-popup .popup-col1
{
    float: left;

    margin-left: 80px;
}

.contact-popup .popup-col2
{
    float: right;

    margin-right: 80px;
}

.contact-popup input
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    line-height: 18px;

    width: 200px;
    height: 30px;
    margin-top: 10px;
    padding-left: 15px;

    color: #999;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.contact-popup .textarea
{
    clear: both;
}

.textarea .comment-label
{
    display: block;

    margin-left: 80px;
}

textarea
{
    font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    line-height: 18px;

    display: block;
    overflow: auto;

    width: 428px;
    height: 92px;
    margin-top: 10px;
    margin-right: 80px;
    margin-bottom: 35px;
    margin-left: 80px;
    padding: 10px 15px;

    color: #999;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    background: #fff;
}

.contact-popup .finish-input
{
    padding: 10px 10px 10px;

    background: #f1f1f1;
}

.contact-popup .contact-popup-btn
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 18px;

    margin: 28px 80px 27px 70px;
    padding: 10px 261px 28px 199px;

    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background: #ee3643;
}

.contact-popup .contact-popup-btn:hover
{
    background: #ca2c37;
}

.contact-popup .contact-popup-btn:active
{
    outline: none;
    background: #ba2732;
}

/*BUY-POPUP*/
.buy-popup
{
    z-index: 100;

    padding-top: 40px;

    border-top: 7px solid #ee3643;
    background: #fff;
    box-shadow: 0 20px 40px #293449;
}

.buy-popup .modal-content-close::before
{
    top: 10px;
    right: -2px;
}

.buy-popup .modal-content-close::after
{
    top: 8px;
    right: -1px;
}

.buy-popup p
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 30px;
    line-height: 18px;

    padding-bottom: 46px;
    padding-left: 179px;

    color: #000;
}

.buy-popup p::before
{
    position: absolute;
    top: 48px;
    left: 82px;

    width: 65px;
    height: 65px;

    content: '';

    border-radius: 50%;
    background-color: #63a63e;
}

.buy-popup p::after
{
    position: absolute;
    top: 59px;
    left: 106px;

    width: 15px;
    height: 30px;

    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border-right: 6px solid #fff;
    border-bottom: 6px solid #fff;
}

.buy-btns
{
    padding: 35px 80px 37px;

    background-color: #f1f1f1;
}

.buy-btns a
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 18px;

    margin-right: 16px;
    padding: 10px 61px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background: #ee3643;
}

.buy-btns button
{
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 18px;

    padding: 10px 47px;

    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    color: #000;
    border: none;
    border-radius: 3px;
    background: #fff;
}

.buy-btns button:hover
{
    border-color: #bdc6ca;
}

.buy-btns button:active
{
    border-color: #ee3643;
    outline: none;
}

.buy-btns button:focus
{
    border-color: #ee3643;
    outline: none;
}

/*ЗАКРЫВАШКИ*/
.map-popup-close,
.contact-popup-close,
.buy-popup-close
{
    font-size: 0;

    position: absolute;
    top: 9px;
    right: 9px;

    width: 22px;
    height: 22px;

    cursor: pointer;

    border: 0;
    outline: none;
    background-color: transparent;
}


.map-popup-close::before,
.map-popup-close::after
{
    position: absolute;
    top: 10px;
    right: -2px;

    width: 24px;
    height: 4px;

    content: '';

    border-radius: 1px;
    background-color: #ee3643;
}

.contact-popup-close::before,
.contact-popup-close::after
{
    position: absolute;
    top: 8px;
    right: -2px;

    width: 26px;
    height: 5px;

    content: '';

    border-radius: 1px;
    background-color: #ee3643;
}

.buy-popup-close::before
{
    position: absolute;
    top: 8px;
    right: -2px;

    width: 26px;
    height: 5px;

    content: '';

    border-radius: 1px;
    background-color: #ee3643;
}

.buy-popup-close::after
{
    position: absolute;
    top: 7px;
    right: -2px;

    width: 26px;
    height: 5px;

    content: '';

    border-radius: 1px;
    background-color: #ee3643;
}

.buy-popup-close::before,
.contact-popup-close::before,
.map-popup-close::before
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.buy-popup-close::after,
.contact-popup-close::after,
.map-popup-close::after
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.map-popup-show,
.buy-popup-show,
.contact-popup-show
{
    display: block;
}

.buy-popup-show,
.contact-popup-show
{
    -webkit-animation: bounce .6s;
            animation: bounce .6s;
}

.contact-popup-animation
{
    -webkit-animation: shake .6s;
            animation: shake .6s;
}
/*animations*/

@-webkit-keyframes bounce
{
    from
    {
        -webkit-transform: translateX(-200px) translateY(-500px) ;
                transform: translateX(-200px) translateY(-500px) ;
    }
    50%
    {
        -webkit-transform: translateX(-300px) translateY(200px) ;
                transform: translateX(-300px) translateY(200px) ;
    }
}

@-webkit-keyframes shake
{
    0%,
    20%,
    40%,
    60%,
    80%
    {
        -webkit-transform: translateX(-400px) translateY(-200px);
                transform: translateX(-400px) translateY(-200px);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: translateX(-200px) translateY(-200px);
                transform: translateX(-200px) translateY(-200px);
    }
}